<p id="notice"><%= notice %></p>

<div class="show_page">
  <strong>First name:</strong>
  <%= @veterinarian.first_name %>
</div>

<div class="show_page">
  <strong>Last name:</strong>
  <%= @veterinarian.last_name %>
</div>

<div class="show_page">
  <strong>Years in practice:</strong>
  <%= @veterinarian.years_in_practice %>
</div>

<div class="show_page">
  <strong>Vet university:</strong>
  <%= @veterinarian.vet_university %>
</div>

<%= link_to 'Edit', edit_veterinarian_path(@veterinarian) %> |
<%= link_to 'Back', veterinarians_path %>
