<div class='main'>
  <p id="notice"><%= notice %>
    <strong>First Name:</strong>
    <%= @veterinarian.first_name %>

    <strong>Last Name:</strong>
    <%= @veterinarian.last_name %>

    <strong>Years in Practice:</strong>
    <%=  @veterinarian.years_in_practice %>

    <strong>Vet University:</strong>
    <%= @veterinarian.vet_university %>

  <%= link_to 'Edit', edit_client_path(@veterinarian) %> |
  <%= link_to 'Back', clients_path %>
</div>
