<div class='main'>
<h1>My Pet Case Load</h1>
<%= render 'lizards/sidebar' %>
<table>
  <thead>
    <tr>
      <th>Petname</th>
      <th>Weight</th>
      <th>Length</th>
      <th>Social Score</th>
      <th>Diet Score</th>
      <th>Fitness Score</th>
      <th>Mental Score</th>
      <th>Last seen</th>
    </tr>
  </thead>
  <tbody>
    <% @lizards.each do |lizard| %>
    <tr>
      <td><%= lizard.petname %></td>
      <td><%= lizard.weight %></td>
      <td><%= lizard.length %></td>
      <td><%= lizard.social_score %></td>
      <td><%= lizard.diet_score %></td>
      <td><%= lizard.fitness_score %></td>
      <td><%= lizard.mental_score %></td>
      <td><%= lizard.last_seen %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<h2> Manage Lizards</h2>
  <% @lizards.each do |lizard| %>
  <%= link_to 'New Lizard', new_lizard_path %>
  <%= link_to 'Show', lizard %>
  <%= link_to 'Edit', edit_lizard_path(lizard) %>
  <%= link_to 'Destroy', lizard, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
