<div class='main'>
  <p id="notice"><%= notice %>
    <strong>ID:</strong>
    <%= @lizard.id %>

    <strong>Petname:</strong>
    <%= @lizard.petname %>

    <strong>Weight:</strong>
    <%= @lizard.weight %>

    <strong>Length:</strong>
    <%= @lizard.length %>

    <strong>Social Score:</strong>
    <%= @lizard.social_score %>

    <strong>Diet Score:</strong>
    <%= @lizard.diet_score %>

    <strong>Fitness Score:</strong>
    <%= @lizard.fitness_score %>

    <strong>Mental Score:</strong>
    <%= @lizard.mental_score %>

    <strong>Last seen:</strong>
    <%= @lizard.last_seen %>

  <%= link_to 'Edit', edit_lizard_path(@lizard) %> |
  <%= link_to 'Back', lizards_path %>
</div>
