<!DOCTYPE html>
<html>
<head>
  <title>Lizard Vet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class='navigation'>
<nav><%=render "layouts/nav"%></nav>
</div>
<div clas= 'body'>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</div>
<footer><%= render "layouts/footer" %></footer>
</html>
